.header {
    max-height: 200px;
    background-color: brown;
    grid-area: h;
}
.header img {
    width: 200px;
    padding: 20px;
    border-radius: 20%;
}

.loginBlock {
    float: right;
}
.loginBlock a {
    margin: 30px;
    font-size: 1.5rem;
    color: white;
}