.profileBlock {
    padding: 10px;
}

.avatarPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.contact {
    margin-left: 10px;
}

.formSummaryError {
    color: red;
    border: 1px solid red;
}